@import './base.css';

.btn-primary {
    background-color: #f55c70 !important;
    border-color: #f55c70 !important;
}

.btn-primary:hover {
    color: #f55c70 !important;
    background-color: #222222 !important;
}

.btn-secondary {
    background-color: #cbd3da !important;
    border-color: #cbd3da !important;
}

.btn-secondary:hover {
    color: #cbd3da !important;
    background-color: #222222 !important;
}

